In [29]:
import pandas as pd
import statistics
import re

In [16]:
data_pd_ratings = pd.read_csv('ratings.csv')
data_pd_ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [25]:
# Несложно узнать, что всего пользователей у нас 610, значит пройдемся по списку их ID
userlist = [i for i in range(1, 611)]
userId_dict = {}
for i in userlist:
    usersum = len(data_pd_ratings[data_pd_ratings['userId'] == i])
    if usersum > 100:
        userId_dict.setdefault(i, usersum)

In [26]:
user_1 = data_pd_ratings[data_pd_ratings['userId'] == i]

In [22]:
max(user_1['timestamp'])

1495959411

In [23]:
min(user_1['timestamp'])

1479541963

In [24]:
max(user_1['timestamp']) - min(user_1['timestamp'])

16417448

In [27]:
timest_delta_dict = {}
for key in userId_dict.keys():
    user_df = data_pd_ratings[data_pd_ratings['userId'] == key]
    timest_delta = max(user_df['timestamp']) - min(user_df['timestamp'])
    timest_delta_dict.setdefault(key, timest_delta)

In [28]:
timest_delta_dict

{1: 739163,
 4: 62496114,
 6: 3806,
 7: 69546315,
 10: 317722,
 15: 211153396,
 17: 21247022,
 18: 79737120,
 19: 11775,
 20: 111360,
 21: 123879461,
 22: 396890,
 23: 1540624,
 24: 35379,
 27: 2466632,
 28: 42667926,
 32: 1269,
 33: 776322,
 40: 1588,
 41: 435453,
 42: 50053,
 43: 1714,
 45: 242570795,
 47: 7154,
 50: 36296310,
 51: 112590,
 52: 1078,
 57: 6380302,
 58: 1422,
 59: 2879,
 62: 15386131,
 63: 535987,
 64: 101090,
 66: 89579563,
 68: 374366373,
 73: 86858,
 74: 3945,
 76: 3476,
 80: 167522,
 82: 481087,
 83: 1355493,
 84: 2745867,
 89: 1393,
 91: 7339,
 95: 62061979,
 100: 93960,
 103: 90218137,
 104: 367655829,
 105: 79636798,
 109: 2972827,
 111: 3275736,
 113: 256326,
 115: 32660207,
 117: 1249,
 119: 69390663,
 122: 2141,
 125: 39632867,
 129: 3028,
 132: 172064312,
 135: 4206,
 136: 2404,
 137: 5006,
 139: 1441,
 140: 243237878,
 141: 3288,
 144: 512533,
 153: 5023,
 156: 169609948,
 160: 106637479,
 166: 2055186,
 167: 22797365,
 169: 32946308,
 177: 14197928,
 181: 2992,
 182: 106844360,
 184: 15812,
 186: 15948,
 187: 18885773,
 195: 43274025,
 198: 5662779,
 199: 460937018,
 200: 13471,
 201: 1988810,
 202: 103942,
 210: 63944307,
 212: 42247454,
 216: 7436629,
 217: 260506,
 219: 42558567,
 220: 36511995,
 221: 10189619,
 222: 29363,
 226: 117370961,
 230: 1106,
 232: 230290470,
 233: 88654760,
 234: 2434089,
 239: 719258,
 240: 1347,
 246: 2092144,
 247: 292447,
 249: 190541450,
 254: 121405,
 256: 952780,
 260: 2960,
 263: 179688580,
 265: 2244909,
 266: 3696220,
 268: 94562,
 274: 147238067,
 275: 3423,
 279: 1852,
 280: 5076452,
 282: 135581241,
 286: 2829,
 287: 3350,
 288: 290973125,
 290: 94692,
 292: 539729459,
 294: 39816,
 298: 31548679,
 301: 3769,
 304: 69092508,
 305: 77220906,
 306: 54270,
 307: 58730893,
 308: 2100,
 309: 85771335,
 312: 2385,
 313: 83936,
 314: 17809966,
 317: 249881,
 318: 302571157,
 322: 2812,
 325: 4365,
 326: 141686401,
 328: 5299,
 330: 2934097,
 331: 77884,
 332: 3621,
 334: 129507084,
 339: 47578109,
 346: 78047494,
 351: 7059783,
 352: 1036568,
 354: 88349,
 356: 14809283,
 357: 19065,
 362: 1577967,
 365: 2755879,
 367: 3395,
 368: 4557350,
 369: 252830,
 372: 2834,
 376: 62432,
 377: 5830,
 380: 43620842,
 381: 114427173,
 382: 101408,
 385: 32395511,
 387: 162687028,
 391: 6657843,
 393: 1941,
 405: 8643085,
 408: 22432328,
 409: 3633514,
 410: 182912,
 411: 1686,
 412: 449467,
 414: 566541856,
 419: 54637657,
 420: 11766464,
 424: 19167764,
 425: 195841490,
 428: 137567,
 432: 19899172,
 434: 974161,
 436: 2634,
 437: 1273,
 438: 70348959,
 448: 480496843,
 452: 47933084,
 453: 68000409,
 462: 414546374,
 464: 50047419,
 465: 1192,
 466: 30996,
 469: 513087,
 474: 263684276,
 475: 2577,
 477: 99629647,
 479: 32005,
 480: 3288795,
 482: 1503,
 483: 237923852,
 484: 1046001,
 488: 1022,
 489: 53119626,
 490: 10570232,
 492: 1601,
 495: 2583,
 509: 8263340,
 510: 1911,
 514: 3927846,
 517: 4386646,
 520: 80451,
 522: 196388849,
 524: 796447,
 525: 6794,
 527: 3145,
 534: 27489905,
 542: 2438,
 551: 1812655,
 552: 678603,
 555: 1382119,
 559: 22801449,
 560: 8393773,
 561: 5121,
 562: 7008,
 563: 10795354,
 564: 3366498,
 567: 92541,
 570: 80181,
 571: 1469,
 572: 34037294,
 573: 229087335,
 577: 13730,
 580: 44669629,
 586: 4526,
 587: 5356,
 590: 39415383,
 593: 1703,
 594: 29789145,
 596: 208969,
 597: 1453890,
 599: 21102011,
 600: 151657,
 601: 79828694,
 602: 1272,
 603: 48479040,
 605: 82248,
 606: 197231731,
 607: 34768995,
 608: 72402187,
 610: 16417448}

In [31]:
numbers = [timest_delta_dict[key] for key in timest_delta_dict]
mean_ = statistics.mean(numbers)
mean_

44731367.73469388

искомое значение найдено