В задаче сквозной аналитики вам предоставили данные по местоположению пользователей.  
Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы.  
Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы:

* У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
* Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?
* Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

In [9]:
# насколько я понял, выглядят геометки как-то так

import pandas as pd
user_tracking_df = pd.DataFrame(
    {
        'user_id': [154511, 154511, 154511, 67114, 67114, 463453],
        'geotag_x': [41.4011, 41.5056, 41.6788, 41.54338, 41.67338, 41.7838],
        'geotag_y': [2.57403, 2.57621, 2.1456, 2.1789, 2.17654, 2.999],
        'timestamp': [964982703, 688978276, 565439823, 789324575, 422555985, 911290567]
    }
)
user_tracking_df

   user_id  geotag_x  geotag_y  timestamp
0   154511  41.40110   2.57403  964982703
1   154511  41.50560   2.57621  688978276
2   154511  41.67880   2.14560  565439823
3    67114  41.54338   2.17890  789324575
4    67114  41.67338   2.17654  422555985
5   463453  41.78380   2.99900  911290567

In [10]:
user_purchase_df = pd.DataFrame(
    {
        'user_id': [154511, 23112, 614423, 67114, 878615, 463453],
        'shop_id': [6545131, 534522, 656723, 65764, 743225, 46345],
        'purchases_id': [[654131, 8722], [], [2454131, 8722, 4533], [94584, 764131, 67722], [98726], [543232, 234, 524, 5342, 51211]],
        'timestamp': [964982703, 688978276, 565439823, 789324575, 422555985, 911290567]
    }
)
user_purchase_df

   user_id  shop_id                     purchases_id  timestamp
0   154511  6545131                   [654131, 8722]  964982703
1    23112   534522                               []  688978276
2   614423   656723            [2454131, 8722, 4533]  565439823
3    67114    65764           [94584, 764131, 67722]  789324575
4   878615   743225                          [98726]  422555985
5   463453    46345  [543232, 234, 524, 5342, 51211]  911290567

Насколько я понял, это выглядит как-то так?  
То есть есть метки юзера, магазина, список покупок и отметка времени  
А из другого источника есть метки где он находился в это время?

В таком случае, логично увязать их по меткам времени, наверное, если они присутствуют и там и там. Ну вообще, очевидно, что по каким-то меткам, которые есть в обоих фреймах, но, там общего ничего нет, кроме ID и времени

Хотя, если мы знаем координаты магазина, то можем привязать по ним

В общем суть проблемы я немного не догнал