In [1]:
import pandas as pd
from pymystem3 import Mystem

In [3]:
search = 'курс гривны к рублю рубли рублях'

'курс   гривна   к   рубль   рубль   рубль \n'

In [4]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [5]:
data.head()

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [12]:
def lem(string):
    m = Mystem()
    lemmas = m.lemmatize(string)
    string = ' '.join(lemmas)
    return string[0:-2].replace('   ', ' ')

lem(search)

'курс гривна к рубль рубль рубль'

In [14]:
data['lemmas'] = data['keyword'].apply(lem)
data.head()

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль