In [47]:
import pandas as pd

In [48]:
data_pd_ratings = pd.read_csv('ratings.csv')
data_pd_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Напишем классификатор

In [50]:
def classification(rating):
    if rating <= 2:
        class_rating = 'низкий рейтинг'
    elif rating > 2 and rating < 4:
        class_rating = 'средний рейтинг'
    elif rating >= 4:
        class_rating = 'высокий рейтинг'
    return class_rating

И применим его одним способом (из интереса)

In [54]:
class_rating_dict = {}
for index, row in data_pd_ratings.iterrows():
    class_rating_dict.setdefault(index, classification(row['rating']))
class_rating_df = pd.DataFrame(
    class_rating_dict.values(), columns=['class rating'])
data_pd_ratings_class = pd.concat([data_pd_ratings, class_rating_df], axis=1)
data_pd_ratings_class.head()

   userId  movieId  rating  timestamp     class rating     class rating
0       1        1     4.0  964982703  высокий рейтинг  высокий рейтинг
1       1        3     4.0  964981247  высокий рейтинг  высокий рейтинг
2       1        6     4.0  964982224  высокий рейтинг  высокий рейтинг
3       1       47     5.0  964983815  высокий рейтинг  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг  высокий рейтинг

или еще одним способом

In [51]:
data_pd_ratings['class rating'] = data_pd_ratings['rating'].apply(classification)

In [53]:
data_pd_ratings.head()

   userId  movieId  rating  timestamp     class rating
0       1        1     4.0  964982703  высокий рейтинг
1       1        3     4.0  964981247  высокий рейтинг
2       1        6     4.0  964982224  высокий рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг