In [63]:
import numpy as np
import pandas as pd

data_pd_movies = pd.read_csv('movies.csv')
data_pd_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
data_pd_ratings = pd.read_csv('ratings.csv')
data_pd_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Сначала из data_pd_ratings отберем только оценки 5

In [13]:
five_star = data_pd_ratings['rating'] == 5

data_pd_five_star = data_pd_ratings[five_star]
data_pd_five_star.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

В теории можно воспользоваться функцией подсчета уникальных элементов, однако, я нигде не нашел, как потом из этой чертовой функции вытащить 318

In [32]:
max_raiting = data_pd_five_star['movieId'].value_counts()
max_raiting

318      153
296      123
356      116
2571     109
260      104
        ...
45672      1
2822       1
611        1
8807       1
83969      1
Name: movieId, Length: 2954, dtype: int64

Поэтому мы пойдем трудным путем и напишем всю эту хрень ручками(

In [110]:
# и посчитаем все что надо
five_star_unq = data_pd_five_star['movieId'].unique()
dict_df = {}
for movieId in five_star_unq:
    movieId_sum = (data_pd_five_star.movieId == movieId).sum()
    dict_df.setdefault(movieId, movieId_sum)
val = max(dict_df.values())
# наконец все найдем
for key, value in dict_df.items():
    if value == val:
        movieId_max = key

И, наконец, найдем искомое

In [122]:
data_pd_movies[data_pd_movies['movieId'] == movieId_max]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama