In [1]:
import numpy as np
import pandas as pd

In [38]:
data_pd_power = pd.read_csv('power.csv')
data_pd_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [65]:
Latvia = data_pd_power['country'] == 'Latvia'
Estonia = data_pd_power['country'] == 'Estonia'
Lithuania = data_pd_power['country'] == 'Lithuania'

category4 = data_pd_power['category'] == 4
category12 = data_pd_power['category'] == 12
category21 = data_pd_power['category'] == 21

year = data_pd_power['year']

quantity = data_pd_power['quantity']

data_pd_power_filtred = data_pd_power[(Latvia | Estonia | Lithuania) & (
    category4 | category12 | category21) & ((year > 2004) & (year < 2011)) & (quantity > 0)]

data_pd_power_filtred.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4

In [66]:
sum(data_pd_power_filtred['quantity'])

240580.0